<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New user</li>
  </ol>
</nav>

<form class="row g-3 needs-validation" method="POST" action="/adduser" novalidation>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="first name" name="first_name">
            <label for="floatingInput">first name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="last name" name="last_name">
            <label for="floatingInput">last name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email">
            <label for="floatingInput">Email</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="phone number" name="phone_number">
            <label for="floatingInput">phone</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="textaria" class="form-control" id="floatingInput" placeholder="comment" name="comment">
            <label for="floatingInput">comment</label>
        </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">save</button>
    </div>
</form>