<table class="table table-borderd">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td class="text-end">
          <a href="#" type="button" class="btn btn-light bnt-small"><i class="bi bi-eye">view</i></a>
          <a href="#" type="button" class="btn btn-light bnt-small"><i class="bi bi-pencil">edit</i></a>
          <a href="#" type="button" class="btn btn-light bnt-small"><i class="bi bi-person-x">delete</i></a>
      </td>
    </tr>
  </tbody>
</table>